<a href="https://colab.research.google.com/github/Ashwini0187/AshwiniChoudhary/blob/main/Advance_function_and_Oops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#set

a1=set('abcdabcdefef')
print(a1)
a=set(range(1,100))
print(a)
b=set([1,2,3,4,5])
print(b)

{'b', 'f', 'd', 'c', 'e', 'a'}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{1, 2, 3, 4, 5}

In [ ]:
days=set(["Mon" , "Tue" , "Wed" , "Thur" , "Fri","Sat" , "Sun"])
print(days)
for d in days:
  print(d)

  s={'a','b','c'}
  print(s.discard('b'))

{'Thur', 'Sat', 'Fri', 'Tue', 'Sun', 'Mon', 'Wed'}
Thur
None
Sat
None
Fri
None
Tue
None
Sun
None
Mon
None
Wed
None

In [ ]:
  s={'a','b','c','d','e','f'}
  print(s.discard('b'))
  print(s)
  print(s.remove('c'))
  print(s)
  print(s.pop())
  print(s)
  print(s.clear())
  print(s)

None
{'d', 'c', 'e', 'f', 'a'}
None
{'d', 'e', 'f', 'a'}
d
{'e', 'f', 'a'}
None
set()

In [ ]:
s4 = {1,2,3,4,5}
print(s4)
s4.add(6)
print(s4)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

In [ ]:
s5 = {1,2,3 ,3,3}
s6 = {'a', 'b', 'c','a' ,'b'}

s5.update(s6)
print(s5)
s5.update({3,4})
print(s5)

{1, 2, 3, 'b', 'c', 'a'}
{1, 2, 3, 4, 'b', 'c', 'a'}

In [ ]:
#Union of the sets:-
A = {1,2,4,6,8}
B = {1,2,3,4,5}
c=A|b
print(c)
print("Union of the sets",A.union(b))

{1, 2, 3, 4, 5, 6, 8}
Union of the sets {1, 2, 3, 4, 5, 6, 8}

In [ ]:
days_A = set(["Mon", "Tue", "Wed"])
days_B = set(["Wed", "Thur", "Fri", "Sat", "Sun"])
all_days = days_A & days_B
print(all_days)

print("Intersection of the sets", days_A.intersection(days_B))

{'Wed'}
Intersection of the sets {'Wed'}

In [ ]:
S1 = {1,2,3,4,6,8}
S2 = {1,2,3,4,5}
S3 = S1-S2
print(S3)
print("Difference of the sets:",S1.difference(S2))

{8, 6}
Difference of the sets: {8, 6}

In [ ]:
#Comparison of the set:-
DaysA = set(["Mon", "Tue","Wed"])
DaysB = set(["Mon", "Tue", "Wed", "Thu", "Fri","Sat", "Sun"])

DaSubsetres=DaysA<=DaysB
supersetres=DaysB>=DaysA

print(DaSubsetres)
print(supersetres)

True
True

In [ ]:
A = {1,2,4,6,8}
B = {1,2,3,4,5}
c=A^B
print(c)
print("Symmetric Difference of the sets:",A.symmetric_difference(B))

{3, 5, 6, 8}
Symmetric Difference of the sets: {3, 5, 6, 8}

In [ ]:
s1 = {"red", "green", "blue"}
s2 = {"blue", "yellow", "red", "green", "black"}

#subset

print(s1.issubset(s2))

#superset

print(s1.issuperset(s2))


print(s2.issuperset(s1))


#disjoint set

print(s1.isdisjoint(s2))

True
False
True
False

In [ ]:
def my_function():
  print("hello from a function")

my_function()

hello from a function

In [ ]:
def my_function(name):
  print("hello"+name)

my_function(" ashwini")
my_function(" Rekha")
my_function(" vinita")

hello ashwini
hello Rekha
hello vinita

In [ ]:
def avg_function(x10 , y10):
  print("avg of ", x10, "and", y10, "is :", (x10+y10)/2)

avg_function(3,4)

avg of  3 and 4 is : 3.5

In [ ]:
#Program to find the largest among three numbers with the help of function-
x=int(input("enter number"))
y=int(input("enter number"))
z=int(input("enter number"))

def max_of_three(x, y, z):
 if(x>=y) and (x>=z):
  largest=x
 elif(y>=x) and (y>=z):
  largest=y
 else:
  largest=z
  return(largest)

print("the largest number is",max_of_three(x, y, z))

enter number2
enter number3
enter number4
the largest number is 4

In [ ]:
x='pqrs'

def lower_to_upper():
  print(x.upper())

lower_to_upper()

PQRS

In [ ]:
# Type-Conversion Functions:--

#Implicit-Type Conversion:-

val1 = 10
val2 = 10.5
sum = val1 + val2
print(sum)

print(type(val1))
print(type(sum))
print(int(sum))
print(type(sum))
print(str(sum))
print(type(sum))


a="101010"
c=int(a)
print(c)
print(type(c))

20.5
<class 'int'>
<class 'float'>
20
<class 'float'>
20.5
<class 'float'>
101010
<class 'int'>

In [ ]:
import math as m
print(math.floor(2.3))

print(math.cos(3))
print(math.cos(30))
print(m.sin(4))
print(m.factorial(5))

2
-0.9899924966004454
0.15425144988758405
-0.7568024953079282
120

In [ ]:
def key_word_args(str):
  print(str)
  return


key_word_args(str='hello python')
key_word_args(str='lello python')
key_word_args(str='zello python')

In [ ]:
def default_arg(name, age=25):
  print("name:", name)
  print("age", age)
  return

default_arg(age=24, name="hitesh")
default_arg(name="ashwini")
default_arg(name="shweta")

name: hitesh
age 24
name: ashwini
age 25
name: shweta
age 25

In [ ]:
def req_argument(str):
 print(str)

req_argument()

def req_argument(name):
  print("name",name)

req_argument()

TypeError: req_argument() missing 1 required positional argument: 'str'

In [ ]:
def var_len_arg(arg1, *val):
  print("output is:")
  print(arg1)
  for var in val:
   print(var)

var_len_arg(10)
var_len_arg(10,20,30,40,50)

output is:
10
output is:
10
20
30
40
50

In [ ]:
square=lambda x: x*x
print("square of numbers",square(10))

square of numbers 100

In [ ]:
cube=lambda y: y**3
print("cube of no.",cube(20))

cube of no. 8000

In [ ]:
lst=[1,2,3,4,5,6,7]
print(lst)

lst_res=list(filter(lambda x: (x%2!=0),lst))
print("filtered list:",lst_res)

[1, 2, 3, 4, 5, 6, 7]
filtered list: [1, 3, 5, 7]

In [ ]:
def addition(n):
  return n+n

nos=(1,2,3,4)
res=map(addition, nos)
print(tuple(res))

(2, 4, 6, 8)

In [ ]:
nos=(1,2,3,4)
res1=map(lambda x: x+x, nos)
print(list(res1))

[2, 4, 6, 8]

In [ ]:
from functools import reduce
st=[1,2,3,4,5,6,7,8]
sum = reduce((lambda x,y : x+y),st)
print(sum)

36

In [5]:
from functools import reduce
st=[1,2,3,4,5,6,7,8,9]
print("max element of no.",end=" -")
res=reduce(lambda a,b :a if a>b else b, st)
print(res)

max element of no. -9

In [7]:
n=5
m=2
try:
  n/m
except ZeroDivisionError:
    print("divide by zero error")
else:
    print(n/m)

2.5

In [20]:
#while True:
try:
  a=int(input("enter an integer"))
  div=10/a
    #break
except:
  print("error occured")
  print("please enter valid value")
  print()
print("division is", div)

error occured
please enter valid value

division is 1.0

In [ ]:
while True:
  try:
    age=int(input("insert value"))
    if age<18:
      raise Exception
    else:
      print("you are eligible for election")
      break
  except Exception:
    print("your age is too small")

your age is too small

In [29]:
class person:
  def __init__(self, name, age):
   self.name = name
   self.age = age

  def walking(self):
    print("person is walking!!!!")

  def personinfo(self):
    print(self.name + " is "+ str(self.age) + " years old" )

  def birthday(self):
    self.age += 1

  def setbuddy(self, buddy):
    self.buddy = buddy
    buddy.buddy=self


p1 = person("ashwini", 34)
p2 = person("ashoo", 24)

print(p1.name)

print(p1.age)
print(p1.name+ " is " +str(p1.age) + " years old")
p1.walking()
p2.personinfo()
p2.birthday()
print(p2.age)

p1.setbuddy(p2)
print(p1.buddy.name)
print(p1.buddy.age)

ashwini
34
ashwini is 34 years old
person is walking!!!!
ashoo is 24 years old
25
ashoo
25

In [2]:
class persons1(object):
  def __init__(self, name, idno):
   self.name = name
   self.idno = idno

   def display(self):
    print(self.name)
    print(self.idno)

   def details(self):
    print("name is {}".format(self.name))
    print("age is {}".format(self.idno))

In [3]:
class Employees(persons1):
  def __init__(self, name, idno, salary, designation):
    self.salary = salary
    self.designation = designation


    persons1.__init__(self, name, idno)


  def details(self):
    print("name is {}".format(self.name))
    print("idno is {}".format(self.idno))
    print("salary is {}".format(self.salary))
    print("designation is {}".format(self.designation))



emp = Employees("ashwini", 3456, 34000, 'data analyst')
emp.display()
emp.details()

AttributeError: 'Employees' object has no attribute 'display'

In [ ]:
class Person:
  def __init__(self, name, age):
   self.name = name
   self.age = age

  def display(self):
   print(self.name, self.age)



class Student(Person):
  def __init__(self, name, age, dob):
    self.sname = name
    self.sage = age
    self.dob = dob


    super().__init__("ashwini", 24)

  def displayinfo(self):
    print(self.sname, self.sage, self.dob)


name=input("enter name")
age = input("enter age")
dob = input("enter dob")
#obj = Student("manoj", 30, "16-02-2000")
obj = Student(name, age, dob)
obj.display()
obj.displayinfo()