<a href="https://colab.research.google.com/github/Ashwini0187/AshwiniChoudhary/blob/main/Python_datatype.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Basics of python
"""
this is multiple line comment

"""

'\nthis is multiple line comment \n\n'

# New Section

In [4]:
print(a)

76

In [2]:
a=76
b=56

In [ ]:
print(type(a))

In [ ]:
print(72e4)
print(72e-3)

In [12]:
a=2+3j
print(a)
print(a.real)
print(a.imag)
print(a.conjugate)
b=5j
print(b)

(2+3j)
2.0
3.0
<built-in method conjugate of complex object at 0x7ed907e1b4d0>
5j

In [18]:
s1="hello"
s2='hello'
print(s2)
print(s1)
print(type(s1))
print(type(s2))

hello
hello
<class 'str'>
<class 'str'>

In [17]:
name='ashwini'
age=24
print("my name is", name,"my age is",age)
print(type(name))
print(type(age))

my name is ashwini my age is 24
<class 'str'>
<class 'int'>

In [23]:
#list[] (list data type)---orderd collection of items--list is mutable
ganesh_eid=456
piyush_eid=756
priyanka_eid=567
emp_id_tata=[1,2,3,4,5,6,7,8,9,10]
emp_id_infosys=[11,12,13,14,15,16,17,18,19,20]
emp_id_tesla=[100,200,300,400,500,600,700,800,900]
emp_id_tata_infosis_tesla=[[1,2,3,4,5,6,7,8,9,10],[11,12,13,14,15,16,17,18,19,20],[100,200,300,400,500,600,700,800,900]]

print("the empid for tata companies--",emp_id_tata)
print(type(emp_id_tata))

the empid for tata companies-- [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

In [24]:
#tupledata() type (it is a ordered sequence of datatype)---tuple is immutable
tuple_items=(1,2,3,4,5,6,7,8,9,10)
print(tuple_items)
print(type(tuple_items))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [25]:
#dictionary{}(dict datatype)
#it is an unordered collection of key value paires
dictionary={"name":"hitesh","age":24}
print(dictionary)
print(type(dictionary))

{'name': 'hitesh', 'age': 24}
<class 'dict'>

In [29]:
#unordered collection of items
#every(element/values/items/datas),it must be unique in side the set
sets={1,2,3,4,5,6,6,6,6,6,5,5,5,4,3,2}
list=[1,2,3,4,5,6,6,6,6,6,5,5,5,4,3,2]
days={"sun","mon","tus","wed","thurs","fri","set"}
print(days)
print(type(sets))
print(sets)
print(list)

{'fri', 'sun', 'thurs', 'set', 'wed', 'tus', 'mon'}
<class 'set'>
{1, 2, 3, 4, 5, 6}
[1, 2, 3, 4, 5, 6, 6, 6, 6, 6, 5, 5, 5, 4, 3, 2]