<a href="https://colab.research.google.com/github/Ashwini0187/AshwiniChoudhary/blob/main/Python_alldatatype.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Basics of python
"""
this is multiple line comment

"""

'\nthis is multiple line comment \n\n'

# New Section

In [ ]:
print(a)

76

In [ ]:
a=76
b=56

In [ ]:
print(type(a))

In [ ]:
print(72e4)
print(72e-3)

In [ ]:
a=2+3j
print(a)
print(a.real)
print(a.imag)
print(a.conjugate)
b=5j
print(b)

(2+3j)
2.0
3.0
<built-in method conjugate of complex object at 0x7ed907e1b4d0>
5j

In [ ]:
s1="hello"
s2='hello'
print(s2)
print(s1)
print(type(s1))
print(type(s2))

hello
hello
<class 'str'>
<class 'str'>

In [ ]:
name='ashwini'
age=24
print("my name is", name,"my age is",age)
print(type(name))
print(type(age))

my name is ashwini my age is 24
<class 'str'>
<class 'int'>

In [ ]:
#list[] (list data type)---orderd collection of items--list is mutable
ganesh_eid=456
piyush_eid=756
priyanka_eid=567
emp_id_tata=[1,2,3,4,5,6,7,8,9,10]
emp_id_infosys=[11,12,13,14,15,16,17,18,19,20]
emp_id_tesla=[100,200,300,400,500,600,700,800,900]
emp_id_tata_infosis_tesla=[[1,2,3,4,5,6,7,8,9,10],[11,12,13,14,15,16,17,18,19,20],[100,200,300,400,500,600,700,800,900]]

print("the empid for tata companies--",emp_id_tata)
print(type(emp_id_tata))

the empid for tata companies-- [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

In [ ]:
#tupledata() type (it is a ordered sequence of datatype)---tuple is immutable
tuple_items=(1,2,3,4,5,6,7,8,9,10)
print(tuple_items)
print(type(tuple_items))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [ ]:
#dictionary{}(dict datatype)
#it is an unordered collection of key value paires
dictionary={"name":"hitesh","age":24}
print(dictionary)
print(type(dictionary))

{'name': 'hitesh', 'age': 24}
<class 'dict'>

In [ ]:
#unordered collection of items
#every(element/values/items/datas),it must be unique in side the set
sets={1,2,3,4,5,6,6,6,6,6,5,5,5,4,3,2}
list=[1,2,3,4,5,6,6,6,6,6,5,5,5,4,3,2]
days={"sun","mon","tus","wed","thurs","fri","set"}
print(days)
print(type(sets))
print(sets)
print(list)

{'fri', 'sun', 'thurs', 'set', 'wed', 'tus', 'mon'}
<class 'set'>
{1, 2, 3, 4, 5, 6}
[1, 2, 3, 4, 5, 6, 6, 6, 6, 6, 5, 5, 5, 4, 3, 2]

In [ ]:
name=input("enter your name")
print("your name is", name)
age = int(input("enter your age"))
print("your age is",age)

enter your namefg
your name is fg
enter your age78
your age is 78

In [ ]:
#formate method
x=10
y=20
print("the value of x is",x,"and the value of y is",y)
print("the value of x is {} and the value of y is {}".format(x,y))

the value of x is 10 and the value of y is 20
the value of x is 10 and the value of y is 20

In [ ]:
print("i love {0} and {1}".format("bike","superbike"))
print("i love {1} and {0}".format("bike","superbike"))

i love bike and superbike
i love superbike and bike

In [ ]:
i=20
if(i<15):
  print("i is less then 15")

print("i is not less then 15")

i is not less then 15

In [ ]:
number=int(input("enter a number for checking even or odd "))
if(number%2==0):
  print("number is even")
else:
  print("number is odd")

enter a number for checking even or odd 20
number is even

In [ ]:
#and check if centuri is leap centuri
year=int(input("enter a leap year"))
if(year%4==0 and  year%400==0):
  print(year,"is a leap year or centuri")
else:
  print(year,"is not a leap year or centuri")

enter a leap year2000
2000 is a leap year or centuri

In [ ]:
year=int(input("enter year"))
if(year%4==0):
  print(year,"is leap year")
elif(year%400==0):
  print(year,"is leap century")
elif(year%100!=0):
  print("you are are gessing wrong year")
else:
  print("is not leap year and cetury")

In [ ]:
n1=int(input("enter n1"))
n2=int(input("enter n1"))
n3=int(input("enter n1"))
if((n1>n2) and (n1>n3)):
  l=n1
elif((n2>n1) and (n2>n3)):
  l=n2
else:
  l=n3
print(f"n1={n1}")
print(f"n2={n2}")
print(f"n3={n3}")
print(f"greater number is={l}")

enter n120
enter n130
enter n140
n1=20
n2=30
n3=40
greater number is=40

In [ ]:
count=0
while count<=10:
  print("count=", count)
  count = count+1

count= 0
count= 1
count= 2
count= 3
count= 4
count= 5
count= 6
count= 7
count= 8
count= 9
count= 10

In [ ]:

no=0
while no<=100:
  if(no==20 or no==50):
    print("of no.=20 and no.=50")
  elif(no==50):
    print("no. is 50")
  no +=1

of no.=20 and no.=50
of no.=20 and no.=50

In [ ]:
l=[10,20,30,40,50,60,70,80,90]
print("before",l)
print("after")
for i in l:
  print(i)

before [10, 20, 30, 40, 50, 60, 70, 80, 90]
after
10
20
30
40
50
60
70
80
90

In [ ]:
for letter in "python":
  print("current letter",letter)

current letter p
current letter y
current letter t
current letter h
current letter o
current letter n

In [ ]:
print(list(range(1,101)))
print(list(range(1,101,2)))
print(list(range(1,101,3)))

print(list(range(101,1,-2)))
print(list(range(-4,4)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 55, 58, 61, 64, 67, 70, 73, 76, 79, 82, 85, 88, 91, 94, 97, 100]
[101, 99, 97, 95, 93, 91, 89, 87, 85, 83, 81, 79, 77, 75, 73, 71, 69, 67, 65, 63, 61, 59, 57, 55, 53, 51, 49, 47, 45, 43, 41, 39, 37, 35, 33, 31, 29, 27, 25, 23, 21, 19, 17, 15, 13, 11, 9, 7, 5, 3]
[-4, -3, -2, -1, 0, 1, 2, 3]

In [ ]:
for i in range(1,11):
 print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
n = int(input("Enter a number:"))
for i in range(2,n+1):
  if(n%i==0):
   break

if i==n:
  print("n is a prim number")
else:
  print("n is not prime number")

Enter a number:7
n is a prim number

In [ ]:
a="ashwini"
print(a)
b='ashwini01'
print(b)
c='''ashwini02'''
print(c)
d="""ashwini03"""
print(d)

ashwini
ashwini01
ashwini02
ashwini03

In [ ]:
s="hello python"
print(s)
print(s[1])
print(s[2])
print(s[3])
print(s[4])
print(s[5])
print(s[6])

print(s[4:5])
print(s[7:9])
print(s[2:])
print(s[:5])
print(s[-1])
print(s[-5:])
print(s[:-5])
print(s[1:10:2])

hello python
e
l
l
o

p
o
yt
llo python
hello
n
ython
hello p
el yh

In [ ]:
msg="hello python"
print("updated string-",msg[:6]+'python')
print(type(msg))

updated string- hello python
<class 'str'>

In [ ]:
print("this is printed\n in two lines")
print("this is \x48\x45\x58 representations")

this is printed
 in two lines
this is HEX representations

In [ ]:
s1="hello"
s2=" world"
s3=s1+s2
print(s3)

s4="hello "

print(s4*10)
print("h" in s4)
print("g" not in s4)

hello world
hello hello hello hello hello hello hello hello hello hello
True
True

In [ ]:
val="r"
print("the name ram starts with letter = %c "%val)
val1="ram"
print("the name ram starts with letter = %s "%val1)

the name ram starts with letter = r
the name ram starts with letter = ram

In [ ]:
g="india aountry"
print(g.capitalize())
print(g.count('a',4,13))

India aountry
2

In [ ]:
h=["orange","banana","apple","grapse","coconut"]
p=enumerate(h)
p1=enumerate(h,1)
print(list(p))
print(list(p1))

[(0, 'orange'), (1, 'banana'), (2, 'apple'), (3, 'grapse'), (4, 'coconut')]
[(1, 'orange'), (2, 'banana'), (3, 'apple'), (4, 'grapse'), (5, 'coconut')]

In [ ]:
k="python programming"
print(k.find("prog"))
print(k.find("prog",12))

7
-1

In [ ]:
e="python3"
print(e.isalnum())
f="python"
print(f.isalnum())
g="1234"
print(g.isalnum())
k="python programming"
print(k.isalnum())

True
True
True
False

In [2]:
list=[]
list1=[1,2,3,4,5]
list2=[1, 2, 3,'a','b',"coachx", True , 2.34,-45.67]
print("list",list)
print("list1",list1)
print("list2",list2)

list []
list1 [1, 2, 3, 4, 5]
list2 [1, 2, 3, 'a', 'b', 'coachx', True, 2.34, -45.67]

In [5]:
lst = ["One" , "Two" ,3 ,4 , "five" , "Six" , 20 , 10 , 30]
print(lst[0])
print(lst[3:7])
print(lst[:-2])
lst[-2]=100
print(lst)

One
[4, 'five', 'Six', 20]
['One', 'Two', 3, 4, 'five', 'Six', 20]
['One', 'Two', 3, 4, 'five', 'Six', 20, 100, 30]

In [7]:
nestedlist = [1,2,['a',1,2,3],4,5]
print(nestedlist)
element=nestedlist[2][0]
print(element)

[1, 2, ['a', 1, 2, 3], 4, 5]
a

In [9]:
trv=[1,2,3,4,5,6,7]
print(trv)
for i in trv:
 print(i)

[1, 2, 3, 4, 5, 6, 7]
1
2
3
4
5
6
7

In [15]:
mat=[[0,1,2],
     [3,4,5],
     [6,7,8],
     [9,10,11]]

print(mat)

rows=len(mat)
print("rows of the list",rows)
col=len(mat[0])
print("columns of the list", col)
print("matlix:")
for i in range(0,rows):
  print(mat[i])

print(mat[1][0])
print(mat[2][1])

[[0, 1, 2], [3, 4, 5], [6, 7, 8], [9, 10, 11]]
rows of the list 4
columns of the list 3
matlix:
[0, 1, 2]
[3, 4, 5]
[6, 7, 8]
[9, 10, 11]
3
7

In [10]:
st2=[1,2,3,4,5,6]
print(st2)
st2[1]=[100,200,300,400]
print(st2)
st2.append(500)
print(st2)
st2.extend([101,102,103,104,105])
print(st2)
st2.insert(0,["ashwini","choudhary"])
print(st2)
st2.insert(0,1001)
print(st2)
#print(st2[-34])
#print(st2[a])
print(st2['a'])

[1, 2, 3, 4, 5, 6]
[1, [100, 200, 300, 400], 3, 4, 5, 6]
[1, [100, 200, 300, 400], 3, 4, 5, 6, 500]
[1, [100, 200, 300, 400], 3, 4, 5, 6, 500, 101, 102, 103, 104, 105]
[['ashwini', 'choudhary'], 1, [100, 200, 300, 400], 3, 4, 5, 6, 500, 101, 102, 103, 104, 105]
[1001, ['ashwini', 'choudhary'], 1, [100, 200, 300, 400], 3, 4, 5, 6, 500, 101, 102, 103, 104, 105]

TypeError: list indices must be integers or slices, not str

In [12]:
a1=[1,2,3]
b1=["a","b"]
c1=[40,50,60]
res=a1+b1+c1
print(res)
print((b1)*4)

[1, 2, 3, 'a', 'b', 40, 50, 60]
['a', 'b', 'a', 'b', 'a', 'b', 'a', 'b']

In [21]:
y1=[2,34,56,87,3,78,45,7]
print(y1)
y1.sort()
print(y1)
y1.sort(reverse=True)
print(y1)
y1.pop()
print(y1)
y1.pop(2)
print(y1)
del(y1[1])
print(y1)
del(y1[1:4])
print(y1)
y1.remove(87)
#del(y1)
print(y1)
y1.clear()
print(y1)

[2, 34, 56, 87, 3, 78, 45, 7]
[2, 3, 7, 34, 45, 56, 78, 87]
[87, 78, 56, 45, 34, 7, 3, 2]
[87, 78, 56, 45, 34, 7, 3]
[87, 78, 45, 34, 7, 3]
[87, 45, 34, 7, 3]
[87, 3]
[3]
[]

In [25]:
traversing_lst = [[1,2,3,4,5,60],['A', 'B','C', 'D', 'E'],['@','#','$','%']]
print(traversing_lst)
for i in traversing_lst:
  print(i)
  for j in i:
   print(j,end=" ")
  print()

[[1, 2, 3, 4, 5, 60], ['A', 'B', 'C', 'D', 'E'], ['@', '#', '$', '%']]
[1, 2, 3, 4, 5, 60]
1 2 3 4 5 60
['A', 'B', 'C', 'D', 'E']
A B C D E
['@', '#', '$', '%']
@ # $ %

In [26]:
t1=[1,2,3,4,5,6,7,8,9]
print(t1)
t1.reverse()
print(t1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [27]:
t1=[1,2,3,4,5,6,7,8,9]
print(t1)
print(t1[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
t1=[1,2,3,4,5,6,7,8,9]
for i in reversed(t1):
 print(i)

9
8
7
6
5
4
3
2
1

In [30]:
tup=(11 , "shweta" , "Hitesh" , "pune")
(id, name1, name2, location)=tup
print(id)
print(name1)
print(name2)
print(location)

11
shweta
Hitesh
pune

In [31]:
a = (1,2,3,4,5)
b=a[:2]+a[3:]
print(b)

(1, 2, 4, 5)

In [32]:
a = (1,2,3,4,5)
b = (6,7,8,9,10)
c=a+b
print(c)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [33]:
c = (1,2,3,4,5)
print((c)*4)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [36]:
c = (1,2,3,4,5,'a',"ashwini")
print(1 in c)
print('a' in c)

True
True

In [38]:
tp1 = (1,2,3,4,5,6,7,8,9)
for i in tp1:
  print(i)

1
2
3
4
5
6
7
8
9

In [39]:
tp2 = (1,2,3,4,(5,6,7,8),9,10)
for i in tp2:
  print(i)

1
2
3
4
(5, 6, 7, 8)
9
10

In [42]:
tp3 = (1,2,3,4,(5,6,7,8),9,10)
for i in tp3:
  if isinstance(i, tuple):
   for j in i:
    print(j)
  else:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [49]:
tp1 = (1,2,3,4,5,6,7,8,9)
print(tp1)
tpl_tp_list=list(tp1)
print(tpl_tp_list)
tpl_tp_list[0]=100
tpl_tp_list[2]=(10,20,30,40)
print(tpl_tp_list)
list_to_tup=tuple(tpl_tp_list)
print(list_to_tup)
list_to_tup=tuple(tpl_tp_list[2])

print(list_to_tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9)
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[100, 2, (10, 20, 30, 40), 4, 5, 6, 7, 8, 9]
(100, 2, (10, 20, 30, 40), 4, 5, 6, 7, 8, 9)
(10, 20, 30, 40)

In [50]:
tp1 = (1,2,3,4,5,6,7,8,9)
tp2=('a','b','c','d','e','f')
tp3=zip(tp1,tp2)
print(tp3)
print(list(tp3))

<zip object at 0x7ac5849dd140>
[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'), (6, 'f')]

In [54]:
tup=('c','o','a','c','h','x')
str1=str(tup)
print(str1)
print(type(str1))
str2=''.join(tup)
print(str2)

('c', 'o', 'a', 'c', 'h', 'x')
<class 'str'>
coachx

In [2]:
tup=('c','o','a','c','h','x')
str01=''
for i in tup:
  str01 += i
print(str01)

coachx

In [5]:
dict1={1:"ashwini",2:[1,2,3,4,5],3:['a','b','c','d','e'],"pincode":345678,"location":"pune"}
print(dict1)
print(dict1['location'])
#print(dict1['Location'])

{1: 'ashwini', 2: [1, 2, 3, 4, 5], 3: ['a', 'b', 'c', 'd', 'e'], 'pincode': 345678, 'location': 'pune'}
pune

KeyError: 'Location'

In [5]:
d1 = {1:"ashwini",2:[1,2,3,4,5],3:['a','b','c','d','e'],"pincode":345678,"location":"pune"}
doc2 = list(d1.keys())
print(doc2)
for key in d1:
  print(key)


print("access of key",d1[3])

[1, 2, 3, 'pincode', 'location']
1
2
3
pincode
location
access of key ['a', 'b', 'c', 'd', 'e']

In [1]:
specific_key='pincode'
print(specific_key)

pincode

In [6]:
d12 = {
    "id" : "f6w7-q2d2",
    "name" : "Electric Vehicle Population Data",
    "assetType" : "dataset",
    "attribution" : "Washington State Department of Licensing",
    "averageRating" : 0,
    "category" : "Transportation"

}
d12.get("name")

'Electric Vehicle Population Data'

In [15]:
sq = {1:1, 5:4 , 8:9 , 3:16, 5:25 }
print(sq)
#print(sq.popitem())
print(sq)
print(sq.pop(8))
print(sq)

{1: 1, 5: 25, 8: 9, 3: 16}
{1: 1, 5: 25, 8: 9, 3: 16}
9
{1: 1, 5: 25, 3: 16}

In [19]:
d1 = {
    "id" : "f6w7-q2d2",
    "name" : "Electric Vehicle Population Data",
    "assetType" : "dataset",
    "attribution" : "Washington State Department of Licensing",
    "averageRating" : 0,
    "category" : "Transportation"


}
d1["name"]="petrol vehicle"
print(d1)
print(d1["name"])
d1['adress']='pune'
d1['empty']=' '
print(d1)
for key in d1:
 print(key)

print(d1)

{'id': 'f6w7-q2d2', 'name': 'petrol vehicle', 'assetType': 'dataset', 'attribution': 'Washington State Department of Licensing', 'averageRating': 0, 'category': 'Transportation'}
petrol vehicle
{'id': 'f6w7-q2d2', 'name': 'petrol vehicle', 'assetType': 'dataset', 'attribution': 'Washington State Department of Licensing', 'averageRating': 0, 'category': 'Transportation', 'adress': 'pune', 'empty': ' '}
id
name
assetType
attribution
averageRating
category
adress
empty
{'id': 'f6w7-q2d2', 'name': 'petrol vehicle', 'assetType': 'dataset', 'attribution': 'Washington State Department of Licensing', 'averageRating': 0, 'category': 'Transportation', 'adress': 'pune', 'empty': ' '}

In [25]:
data = {
    "id" : "f6w7-q2d2",
    "name" : "Electric Vehicle Population Data",
    "assetType" : "dataset",
    "attribution" : "Washington State Department of Licensing",
    "averageRating" : 0,
    "category" : "Transportation"


}
print(data)
for i in data:
  print(i,  data[i])


print(("-")*10)

for key, value in data.items():
    print(f"{key}:\"{value}\"")

{'id': 'f6w7-q2d2', 'name': 'Electric Vehicle Population Data', 'assetType': 'dataset', 'attribution': 'Washington State Department of Licensing', 'averageRating': 0, 'category': 'Transportation'}
id f6w7-q2d2
name Electric Vehicle Population Data
assetType dataset
attribution Washington State Department of Licensing
averageRating 0
category Transportation
----------
id:"f6w7-q2d2"
name:"Electric Vehicle Population Data"
assetType:"dataset"
attribution:"Washington State Department of Licensing"
averageRating:"0"
category:"Transportation"

In [4]:
data = {
    "id" : "f6w7-q2d2",
    "name" : "Electric Vehicle Population Data",
    "assetType" : "dataset",
    "attribution" : "Washington State Department of Licensing",
    "averageRating" : 0,
    "category" : "Transportation"


}
for i in data:
 print(i)

specific_key='name'

if specific_key in data:
  value_of_specific_key=data[ specific_key]

  print(f"value of key '{specific_key}' : is {value_of_specific_key}")
else:
    print(f" key '{specific_key}' not found")

id
name
assetType
attribution
averageRating
category
value of key 'name' : is Electric Vehicle Population Data

In [7]:
print('name' in data)
specific_key='name'

if specific_key is not None:
  value_of_specific_key=data.get(specific_key)

  print(f"value of key '{specific_key}' : is {value_of_specific_key}")
else:
    print(f" key '{specific_key}' not found")

print(data.values())

True
value of key 'name' : is Electric Vehicle Population Data
dict_values(['f6w7-q2d2', 'Electric Vehicle Population Data', 'dataset', 'Washington State Department of Licensing', 0, 'Transportation'])