<a href="https://colab.research.google.com/github/Ashwini0187/AshwiniChoudhary/blob/main/set_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#set

a1=set('abcdabcdefef')
print(a1)
a=set(range(1,100))
print(a)
b=set([1,2,3,4,5])
print(b)

{'b', 'f', 'd', 'c', 'e', 'a'}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{1, 2, 3, 4, 5}

In [7]:
days=set(["Mon" , "Tue" , "Wed" , "Thur" , "Fri","Sat" , "Sun"])
print(days)
for d in days:
  print(d)

  s={'a','b','c'}
  print(s.discard('b'))

{'Thur', 'Sat', 'Fri', 'Tue', 'Sun', 'Mon', 'Wed'}
Thur
None
Sat
None
Fri
None
Tue
None
Sun
None
Mon
None
Wed
None

In [14]:
  s={'a','b','c','d','e','f'}
  print(s.discard('b'))
  print(s)
  print(s.remove('c'))
  print(s)
  print(s.pop())
  print(s)
  print(s.clear())
  print(s)

None
{'d', 'c', 'e', 'f', 'a'}
None
{'d', 'e', 'f', 'a'}
d
{'e', 'f', 'a'}
None
set()

In [15]:
s4 = {1,2,3,4,5}
print(s4)
s4.add(6)
print(s4)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

In [17]:
s5 = {1,2,3 ,3,3}
s6 = {'a', 'b', 'c','a' ,'b'}

s5.update(s6)
print(s5)
s5.update({3,4})
print(s5)

{1, 2, 3, 'b', 'c', 'a'}
{1, 2, 3, 4, 'b', 'c', 'a'}

In [25]:
#Union of the sets:-
A = {1,2,4,6,8}
B = {1,2,3,4,5}
c=A|b
print(c)
print("Union of the sets",A.union(b))

{1, 2, 3, 4, 5, 6, 8}
Union of the sets {1, 2, 3, 4, 5, 6, 8}

In [26]:
days_A = set(["Mon", "Tue", "Wed"])
days_B = set(["Wed", "Thur", "Fri", "Sat", "Sun"])
all_days = days_A & days_B
print(all_days)

print("Intersection of the sets", days_A.intersection(days_B))

{'Wed'}
Intersection of the sets {'Wed'}

In [28]:
S1 = {1,2,3,4,6,8}
S2 = {1,2,3,4,5}
S3 = S1-S2
print(S3)
print("Difference of the sets:",S1.difference(S2))

{8, 6}
Difference of the sets: {8, 6}

In [23]:
#Comparison of the set:-
DaysA = set(["Mon", "Tue","Wed"])
DaysB = set(["Mon", "Tue", "Wed", "Thu", "Fri","Sat", "Sun"])

DaSubsetres=DaysA<=DaysB
supersetres=DaysB>=DaysA

print(DaSubsetres)
print(supersetres)

True
True

In [29]:
A = {1,2,4,6,8}
B = {1,2,3,4,5}
c=A^B
print(c)
print("Symmetric Difference of the sets:",A.symmetric_difference(B))

{3, 5, 6, 8}
Symmetric Difference of the sets: {3, 5, 6, 8}

In [30]:
s1 = {"red", "green", "blue"}
s2 = {"blue", "yellow", "red", "green", "black"}

#subset

print(s1.issubset(s2))

#superset

print(s1.issuperset(s2))


print(s2.issuperset(s1))


#disjoint set

print(s1.isdisjoint(s2))

True
False
True
False

In [33]:
def my_function():
  print("hello from a function")

my_function()

hello from a function

In [37]:
def my_function(name):
  print("hello"+name)

my_function(" ashwini")
my_function(" Rekha")
my_function(" vinita")

hello ashwini
hello Rekha
hello vinita

In [4]:
def avg_function(x10 , y10):
  print("avg of ", x10, "and", y10, "is :", (x10+y10)/2)

avg_function(3,4)

avg of  3 and 4 is : 3.5

In [8]:
#Program to find the largest among three numbers with the help of function-
x=int(input("enter number"))
y=int(input("enter number"))
z=int(input("enter number"))

def max_of_three(x, y, z):
 if(x>=y) and (x>=z):
  largest=x
 elif(y>=x) and (y>=z):
  largest=y
 else:
  largest=z
  return(largest)

print("the largest number is",max_of_three(x, y, z))

enter number2
enter number3
enter number4
the largest number is 4

In [11]:
x='pqrs'

def lower_to_upper():
  print(x.upper())

lower_to_upper()

PQRS

In [17]:
# Type-Conversion Functions:--

#Implicit-Type Conversion:-

val1 = 10
val2 = 10.5
sum = val1 + val2
print(sum)

print(type(val1))
print(type(sum))
print(int(sum))
print(type(sum))
print(str(sum))
print(type(sum))


a="101010"
c=int(a)
print(c)
print(type(c))

20.5
<class 'int'>
<class 'float'>
20
<class 'float'>
20.5
<class 'float'>
101010
<class 'int'>

In [22]:
import math as m
print(math.floor(2.3))

print(math.cos(3))
print(math.cos(30))
print(m.sin(4))
print(m.factorial(5))

2
-0.9899924966004454
0.15425144988758405
-0.7568024953079282
120

In [29]:
def key_word_args(str):
  print(str)
  return


key_word_args(str='hello python')
key_word_args(str='lello python')
key_word_args(str='zello python')

In [32]:
def default_arg(name, age=25):
  print("name:", name)
  print("age", age)
  return

default_arg(age=24, name="hitesh")
default_arg(name="ashwini")
default_arg(name="shweta")

name: hitesh
age 24
name: ashwini
age 25
name: shweta
age 25

In [47]:
def req_argument(str):
 print(str)

req_argument()

def req_argument(name):
  print("name",name)

req_argument()

TypeError: req_argument() missing 1 required positional argument: 'str'

In [43]:
def var_len_arg(arg1, *val):
  print("output is:")
  print(arg1)
  for var in val:
   print(var)

var_len_arg(10)
var_len_arg(10,20,30,40,50)

output is:
10
output is:
10
20
30
40
50